
<h1 class="text-center">Listing Feeds</h1>
<br/>
<div>
    <% @feeds.each do |feed| %>
    	<div>
        <%= link_to image_tag(feed.image, class: 'img-thumbnail pull-left', width: 100, style: 'margin-right:5px;'), feed %>
        <h3 class=''><%= link_to feed.title, feed %></h3>

        <%= link_to 'Edit', edit_feed_path(feed) %>
        <%= link_to 'Destroy', feed, method: :delete, data: { confirm: 'Are you sure?' } %>
        <hr/>
      <div>
      <br/>
    <% end %>

</div>