
<h1 class="text-center">Readio
<br/>
<small>
	Latest Podcasts
</small>
</h1>


<div class='col-md-12'>
<ul class="nav nav-tabs ">
  <li ><a href="<%= root_path() %>">Popular</a></li>
  <li class="active"><a href="#">Latest</a></li>
</ul>
<br/>

<div class="col-md-8 row">

<%= render 'items' %>

    <%= paginate @items %>
</div>
<div class='col-md-4'>

</div>
</div>